### Import the Libraries

In [3]:
import pandas as pd
import os

import warnings
warnings.filterwarnings("ignore")

### Load the Data

In [39]:
df = pd.read_csv("../data/raw_data/hyderabad/scraped_data.csv")
df.head()

,link,name,area,society_name,locality,city,price,price_per_sqft,Status,New/Resale,...,Age of Property.1,Facing,Balconies.1,New/Resale.1,Booking Amount.1,Additional Rooms.1,Overlooking,Ownership Type,amenities,furnish_details
0,https://www.makaan.com/hyderabad/janapriya-eng...,3 BHK Apartment,"2,120 sq ft",Janapriya Bahiti,Ameenpur,Hyderabad,1.44CrEMI,"6,800/ sq ft the price/ sq ft of this propert...",Under Construction,New,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['[]'],NaN
1,https://www.makaan.com/hyderabad/sark-projects...,3 BHK Villa,"1,600 sq ft",Sark Townhomes Nadergul,Shankarpalli,Hyderabad,1.24CrEMI,"7,800/ sq ft the price/ sq ft of this propert...",Under Construction,New,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['[Intercom, Indoor Games, Car Parking, Club H...",NaN
2,https://www.makaan.com/hyderabad/beams-and-col...,2 BHK Apartment,"1,310 sq ft",Beams 4 Blocks,Kompally,Hyderabad,78.6LEMI,"6,000/ sq ft the price/ sq ft of this propert...",Ready to move,New,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['[Multipurpose Room, Rain Water Harvesting, J...",NaN
3,https://www.makaan.com/hyderabad/mahaveer-cons...,4 BHK Apartment,"5,345 sq ft",Mahaveer Crystal Garden,Attapur,Hyderabad,4.54CrEMI,"8,500/ sq ft the price/ sq ft of this propert...",Under Construction,New,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['[Gymnasium, ATM, Lift(s), Jogging Track, Spo...",NaN
4,https://www.makaan.com/hyderabad/akshita-infra...,2 BHK Apartment,"1,315 sq ft",Akshita Heights 6,Malkajgiri,Hyderabad,81.51LEMI,"6,199/ sq ft the price/ sq ft of this propert...",Under Construction,New,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['[Jogging Track, Indoor Games, Swimming Pool,...",NaN

In [40]:
df.shape

(37220, 33)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37220 entries, 0 to 37219
Data columns (total 33 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   link                37088 non-null  object
 1   name                36750 non-null  object
 2   area                36750 non-null  object
 3   society_name        14727 non-null  object
 4   locality            36750 non-null  object
 5   city                36750 non-null  object
 6   price               36466 non-null  object
 7   price_per_sqft      36466 non-null  object
 8   Status              23900 non-null  object
 9   New/Resale          30401 non-null  object
 10  Price Negotiable    17059 non-null  object
 11  Age of Property     2599 non-null   object
 12  Bathrooms           17042 non-null  float64
 13  Carpet area         8478 non-null   object
 14  Floor               4874 non-null   object
 15  Booking Amount      12483 non-null  object
 16  Balconies           277 non-null    float64
 17  Additional Rooms    1602 non-null   object
 18  Security Deposit    13 non-null     object
 19  Security Deposit.1  36737 non-null  object
 20  Status.1            36750 non-null  object
 21  RERA ID             9189 non-null   object
 22  Price Negotiable.1  19691 non-null  object
 23  Age of Property.1   5347 non-null   object
 24  Facing              25142 non-null  object
 25  Balconies.1         4423 non-null   float64
 26  New/Resale.1        6349 non-null   object
 27  Booking Amount.1    6741 non-null   object
 28  Additional Rooms.1  1881 non-null   object
 29  Overlooking         6328 non-null   object
 30  Ownership Type      8960 non-null   object
 31  amenities           36750 non-null  object
 32  furnish_details     5866 non-null   object
dtypes: float64(3), object(30)
memory usage: 9.4+ MB

The Dataframe contains information about Apartments, Independent Houses, Villas, Residental Plots.
Divide the DataFrame into separate DataFrames based on property types (such as Apartments, Independent Houses, Villas, and Residential Plots) and save each one as a CSV file

In [42]:
# Function to extract property_type
def extract_property_type(property_desc):
    # Ckeck if 'BHK' or 'RK' is in the description and split accordingly
    if isinstance(property_desc, str) and 'BHK' in property_desc:
        parts = property_desc.split('BHK', 1)
        property_type = parts[1].strip()
    elif isinstance(property_desc, str) and 'RK' in property_desc:
        parts = property_desc.split('RK', 1)
        property_type = parts[1].strip()
    else:
        property_type = property_desc if isinstance(property_desc, str) else 'Unknown'
        
    return property_type

In [43]:
df.insert(1, "property_type", df['name'].apply(extract_property_type))

In [44]:
df.head()

,link,property_type,name,area,society_name,locality,city,price,price_per_sqft,Status,...,Age of Property.1,Facing,Balconies.1,New/Resale.1,Booking Amount.1,Additional Rooms.1,Overlooking,Ownership Type,amenities,furnish_details
0,https://www.makaan.com/hyderabad/janapriya-eng...,Apartment,3 BHK Apartment,"2,120 sq ft",Janapriya Bahiti,Ameenpur,Hyderabad,1.44CrEMI,"6,800/ sq ft the price/ sq ft of this propert...",Under Construction,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['[]'],NaN
1,https://www.makaan.com/hyderabad/sark-projects...,Villa,3 BHK Villa,"1,600 sq ft",Sark Townhomes Nadergul,Shankarpalli,Hyderabad,1.24CrEMI,"7,800/ sq ft the price/ sq ft of this propert...",Under Construction,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['[Intercom, Indoor Games, Car Parking, Club H...",NaN
2,https://www.makaan.com/hyderabad/beams-and-col...,Apartment,2 BHK Apartment,"1,310 sq ft",Beams 4 Blocks,Kompally,Hyderabad,78.6LEMI,"6,000/ sq ft the price/ sq ft of this propert...",Ready to move,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['[Multipurpose Room, Rain Water Harvesting, J...",NaN
3,https://www.makaan.com/hyderabad/mahaveer-cons...,Apartment,4 BHK Apartment,"5,345 sq ft",Mahaveer Crystal Garden,Attapur,Hyderabad,4.54CrEMI,"8,500/ sq ft the price/ sq ft of this propert...",Under Construction,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['[Gymnasium, ATM, Lift(s), Jogging Track, Spo...",NaN
4,https://www.makaan.com/hyderabad/akshita-infra...,Apartment,2 BHK Apartment,"1,315 sq ft",Akshita Heights 6,Malkajgiri,Hyderabad,81.51LEMI,"6,199/ sq ft the price/ sq ft of this propert...",Under Construction,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['[Jogging Track, Indoor Games, Swimming Pool,...",NaN

In [45]:
df['property_type'].unique()

array(['Apartment', 'Villa', 'Independent House', 'Residential Plot',
       'Unknown', 'Independent Floor', 'Studio Apartment'], dtype=object)

- Flats: Apartment, Independent Floor, Studio Apartment
- Houses: Villa, Independent House
- Land: Residential Plot

In [57]:
# Divide the data frame based on property type
flats = ['Apartment', 'Independent Floor']
houses = ['Independent House', 'Villa']
land = ['Residential Plot']

flats_df = df[df['property_type'].isin(flats)]
houses_df = df[df['property_type'].isin(houses)]
land_df = df[df['property_type'].isin(land)]

In [62]:
print(f"Total Flats: {len(flats_df)}")
print(f"Total Independent Houses: {len(houses_df)}")
print(f"Total Residental Plots: {len(land_df)}")

Total Flats: 14750
Total Independent Houses: 4760
Total Residental Plots: 17230

### Save the dataframes to csv files.

In [64]:
# Save each divided dataframe to CSV files
flats_df.to_csv('../data/raw_data/hyderabad/flats.csv', index=False)
houses_df.to_csv('../data/raw_data/hyderabad/houses.csv', index=False)
land_df.to_csv('../data/raw_data/hyderabad/land.csv', index=False)